{% extends "base.html" %}
{%block titulo1%}INICIO{%endblock%}
{%block titulo2%}
    <h1><a href="#">PAGINA<strong>INICIO</strong><span>PROYECTO MSX</span></a></h1>
{%endblock%}
{%block imagen%}
    <a href="/juegos/"><img src="{{ url_for('static',filename='images/msx.png') }}" width="500%" height="500%" alt="eco green" /></a>
{%endblock%}
{%block titulo3%}
    TITULO 3
{%endblock%}
{%block contenido%}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a tellus risus, eu faucibus risus. In blandit leo justo, sit amet tincidunt ipsum. Duis lacinia magna vel nibh tinci dunt accumsan. Proin eget nibh libero.</p>
    <p><span>It leo varius. Integer commodo mi gravutate ut mollis tortor imperdiet. nisi...</span></p>
    <div class="mid_more"><a href="#">DETALLES</a></div>
{%endblock%}